@media (max-width: 991px) {
  .db-sm {
    display: block;
  }
  .search-bar {
    display: none;
  }
  .navigation::after {
    display: none;
  }
  .navigation {
    gap: 1rem;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
@media (max-width: 769px) {
  .herlesden-inner,
  .herlesden-bottom {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
@media (max-width: 500px) {
  .logo img {
    width: 12rem;
  }
  .cart-btn {
    gap: 1.5rem;
  }
}
